doctype html
html
  head
    title Registration Form
  body
    h1 Registration Form

    form(action="/register", method="POST")
      div
        label(for="name") Name:
        input(type="text", name="name", required)
      br
      div
        label(for="age") Age:
        input(type="number", name="age", required)
      br
      div
        label(for="nationality") Nationality:
        input(type="text", name="nationality", required)
      br
      button(type="submit") Register
